<header class="wrapper">
  {% if page.top_bar %}
    {{ page.top_bar }}
  {% endif %}

  {% if page.navigation or page.navigation_collapsible or page.branding or page.navigation_other %}
    {% block navbar %}
      {%
        set navbar_classes = [
        'navbar navbar-expand-lg center-nav',
        mainmenu_class,
        mainmenu_transparent,
        mainmenu_absolute
      ]
      %}
      <div class="navbar-brand">
        {% if page.branding %}
          {{ page.branding }}
        {% endif %}
        <div class="d-lg-none">
          <button class="hamburger offcanvas-nav-btn ms-auto"><span></span></button>
        </div>
      </div>

      <nav{{ attributes.addClass(navbar_classes) }} id="navbar-main">
        <div class="{{ container }}">
          {% if page.navigation %}
            <div class="navbar-nav">
              {{ page.navigation }}
            </div>
          {% endif %}
          {% if page.navigation_collapsible %}
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start {{ menu_alignment }}">
              <div class="offcanvas-header d-lg-none">

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-flex flex-column h-100">
                {{ page.navigation_collapsible }}
              </div>
            </div>
          {% endif %}
          {% if page.navigation_other %}
            <div class="navbar-other d-flex ms-auto">
              {{ page.navigation_other }}
            </div>
          {% endif %}
        </div>


      </nav>
      <!--end bar-->
    {% endblock %}
  {% endif %}

</header>
